*{
    width: 100%;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#navbar{ 
    div{ 
        ul{
    display: flex;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    background-color: brown;
    
        li{
        list-style-type:none ;

    
          a{
           text-decoration: none;
           color: black;
  
            }
        }

}
        }
}